<!DOCTYPE html>
<% layout('layouts/boiler') -%>

    <body>
        <h3>Add new listing</h3>
        <br /><br />
        <div class="row">
            <div class="col-8 offset-2">
                <form method="POST" action="/listings/<%=listing._id%>?_method=PUT" class=" needs-validation" novalidate enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" name="listing[title]" value="<%=listing.title%>" class="form-control" required />
                        <div class="valid-feedback">
                            Looks good!
                          </div>
                          <div class="invalid-feedback">
                          Enter valid title
                          </div>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea type="text" name="listing[description]"
                            class="form-control" required><%=listing.description%></textarea>
                            <div class="invalid-feedback">
                                Enter valid Description
                                </div>
                    </div>
                    <div class="mb-3">
                        <label for="image" class="form-label">Image</label>
                        <input type="file" name="listing[image]" value="<%=listing.image%>" class="form-control"  />
                      
                    </div>
                    <div class="row">
                        <div class="mb-3 col-lg-4 col-md-4 col-sm-12">
                            <label for="price" class="form-label">Price</label>
                            <input type="number" name="listing[price]" value="<%=listing.price%>"
                                class="form-control" required />
                                <div class="invalid-feedback">
                                    Enter valid price
                                    </div>
                        </div>
                        <div class="mb-3 col-lg-8 col-md-8 col-sm-12">
                            <label for="country" class="form-label">Country</label>
                            <input type="text" name="listing[country]" value="<%=listing.country%>"
                                class="form-control" required/>
                                <div class="invalid-feedback">
                                    Enter valid country
                                    </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="location" class="form-label"> Location</label>
                        <input type="text" name="listing[location]" value="<%=listing.location%>"
                            class="form-control" required />
                            <div class="invalid-feedback">
                                Enter valid location
                                </div>
                    </div>
                    <br /><br />
                    <button class="edit-btn">Edit</button>
                </form>
                <br/><br/>
            </div>
        </div>
    </body>